@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="welcome-area2">	
	<h2>Change Password</h2>
	
	@using (Html.BeginForm( )) {
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<hr />
			
			<div class="form-group">
				<strong class="alert-success" id="MessageText"></strong>
			</div><!-- form-group -->

			<div class="form-group">
				<div class="col-md-10">
					<i class="fa fa-lock prefix grey-text" style="font-size: 1.8em"></i>
					<input type="password" id="form_pass" class="form-control validate" placeholder="Enter new Password" required>
				</div>
			</div><!-- form-group -->

			<div class="form-group">
				<div class="col-md-10">
					<i class="fa fa-border fa-lock prefix grey-text" style="font-size: 1.8em"></i>
					<input type="password" id="form_pass-confirm" class="form-control validate" placeholder="Confirm Password" required>
				</div>
			</div><!-- form-group -->

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="button" value="Save" class="btn btn-default" onclick= "SubmitNewPass()"/>
				</div>
			</div><!-- form-group -->
		</div><!-- end form-horizontal -->
	}
	
</div><!-- welcome-area2 -->

<div class="PageLink">
	<i class="fa fa-long-arrow-left"></i>
	@Html.ActionLink("Back", "EditProfile", "Home")
</div>


<script type="text/javascript">
	var AlertTextBox = document.querySelector("#MessageText");

	$(function () {//document ready
		AlertTextBox.style.display = "none";
	})

	function SubmitNewPass() {
		var password = $("#form_pass").val().trim();
		var confirm_password = $("#form_pass-confirm").val().trim();

		if (password != confirm_password) {
			AlertTextBox.innerHTML="Passwords dont match";
			AlertTextBox.style.display = "block";
		}
		else {
			AlertTextBox.innerHTML= "";
			AlertTextBox.style.display = "none";

			$.ajax({
				type: "POST",
				contentType: 'application/x-www-form-urlencoded; charset=utf-8',
				url: "@(Url.Action("ChangePassword", "Home"))",
				data: {
					newPassword: password,
					__RequestVerificationToken: $('[name="__RequestVerificationToken"]').val()
				},
				success: function (data) {
					AlertTextBox.textContent = data.report;
					AlertTextBox.style.display = "block";
					//window.location.reload();
				},
				error: function (xhr, TextStatus, thrownError) {
					AlertTextBox.innerHTML = xhr.status + " " + thrownError;
					AlertTextBox.style.display = "block";
				}
			});
		}
	}
</script>